{% extends 'base.html.twig' %}

{% block title %}Table{% endblock %}

{% block body %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Objectives</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped order-column" id="dataTable">
                            <thead class="text-center">
                            <tr>
                                <th>Objective Ref</th>
                                <th>Status</th>
                                <th>Impact Area</th>
                                <th>Objective</th>
                                <th>Baseline</th>
                                <th>Owner</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for data in targetData %}
                                <tr>
                                    <td><a href="{{ path('dashboard', {id:data.id}) }}">{{ data.objectiveRef }}</a></td>
                                    <td>{{ data.status }}</td>
                                    <td>{{ data.impactArea }}</td>
                                    <td>{{ data.objective }}</td>
                                    <td>{{ data.baseline }}</td>
                                    <td>{{ data.owner }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
